@BlueColor: #007bff;

table {
  display: inline-block;
  margin: auto;

  tr td, tr th {
    font-size: 13px;
    padding: 3px 5px !important;
    text-align: center;
    vertical-align: middle !important;
  }

  tr td a {
    color: @BlueColor !important;
  }

  tr th {
    background-color: @BlueColor;
    color: white;
  }

  tr:nth-child(even) {
    background-color: aliceblue;
  }

  footer {
    padding: 2px 5px;
    text-align: center;
  }

  footer span {
    padding: 1px 3px;
    cursor: pointer;
  }
}
