@font-face {
  font-family: 'sans';
  src: url('src/assets/fonts/sans/IRANSans.woff2')
}

@font-face {
  font-family: 'light_sans';
  src: url('src/assets/fonts/sans/IRANSansWeb_Light.woff2')
}

@font-face {
  font-family: 'medium_sans';
  src: url('src/assets/fonts/sans/IRANSansWeb_Medium.woff2')
}

@font-face {
  font-family: 'bold_sans';
  src: url('src/assets/fonts/sans/IRANSansWeb_Bold.woff2')
}
