@BlueColor: #007bff;

.dropdown-toggle::after {
  vertical-align: middle;
}

.container {
  direction: rtl;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.medium-sans {
  font-family: medium_sans !important;
  font-size: 12pt;
}

.bold-sans {
  font-family: bold_sans !important;
  font-size: 12pt;
}

.light-sans {
  font-family: sans !important;
  font-size: 12pt;
}

.sans {
  font-family: sans !important;
  font-size: 12pt;
}

.sans-small {
  font-family: sans !important;
  font-size: 10pt;
}

.sans-xsmall {
  font-family: sans !important;
  font-size: 9pt;
}

.sans-xxsmall {
  font-family: sans !important;
  font-size: 8pt;
}

.ltr {
  direction: ltr !important;
}

.rtl {
  direction: rtl !important;
}

.loading-md {
  width: 25px;
  height: 25px;
  display: none;
}

.loading-sm {
  width: 15px;
  height: 15px;
  display: none;
}

.dropdown-item:hover, .nav-link:hover {
  background-color: @BlueColor;
  color: white;
}

.nav-link {
  border-radius: 3px;
}
