<div class="container sans">
  <nav class="navbar navbar-expand-lg py-1 px-1">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav pr-0 w-100">
        <li class="nav-item">
          <a class="nav-link" href="#">برنامه</a>
        </li>
        <li class="nav-item dropdown mr-3">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ثبت
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">گل جدید</a>
            <a class="dropdown-item" href="#">برگ خروج</a>
            <a class="dropdown-item" href="#">سرویس ها</a>
            <a class="dropdown-item" href="#">کپی آیتم ها</a>
            <a class="dropdown-item" href="#">معادل سازی</a>
          </div>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link" href="#">جستجوی گل</a>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link" href="#">گزارشات</a>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link" href="#">ویرایش کنترل ها</a>
        </li>
        <li class="mr-5 my-auto">
          <app-search [config]="golSearchConfig" (output)="createGolList($event)"></app-search>
        </li>
        <li class="nav-item mr-auto">
          <a class="nav-link" href="#">خروج</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="card rounded-0">
    <div class="card-body rounded-0 rtl text-right">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

