<div class="card">
  <div class="card-header bg-primary text-white">چیدمان</div>
  <div class="card-body">
    <div class="text-center">
      <app-flower-main-info [flowerid]="flowerId"></app-flower-main-info>
      <hr>
      <form [formGroup]="newGolArrange" (ngSubmit)="saveArrange()">
        <div class="row">
          <div class="col-md-4 d-flex justify-content-between">
            <div class="my-auto text-nowrap ml-2">شماره فرم : </div>
            <input class="form-control" formControlName="name" />
            <span class="text-danger mr-1"
              *ngIf="newGolArrange.get('name').invalid && newGolArrange.get('name').touched">*</span>
          </div>
          <div class="col-md-4 d-flex justify-content-between">
            <div class="my-auto text-nowrap ml-2">نوع چیدمان : </div>
            <select class="form-control" formControlName="arrangeType">
              <option value="1">سرویس</option>
              <option value="2">فله</option>
            </select>
            <span class="text-danger mr-1"
              *ngIf="newGolArrange.get('arrangeType').invalid && newGolArrange.get('arrangeType').touched">*</span>
          </div>
          <div class="col-md-4 d-flex justify-content-between">
            <div class="my-auto text-nowrap ml-2">ابعاد : </div>
            <select class="form-control" formControlName="dimension">
              <option *ngFor="let d of dimensions" [value]="d.id">{{d.text}}</option>
            </select>
            <span class="text-danger mr-1"
              *ngIf="newGolArrange.get('dimension').invalid && newGolArrange.get('dimension').touched">*</span>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-4 d-flex justify-content-between">
            <div class="my-auto text-nowrap ml-2">تعداد برگ : </div>
            <input class="form-control text-center" type="number" formControlName="sheetCount" />
            <span class="text-danger mr-1"
              *ngIf="newGolArrange.get('sheetCount').invalid && newGolArrange.get('sheetCount').touched">*</span>
          </div>
          <div class="col-md-4 d-flex justify-content-between">
            <div class="my-auto text-nowrap ml-2">نوع مارک : </div>
            <input class="form-control" formControlName="mark" />
          </div>
          <div class="col-md-4 d-flex justify-content-between">
            <div class="my-auto text-nowrap ml-2">توضیحات : </div>
            <input class="form-control" formControlName="comment" />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md"></div>
          <div class="col-md-4 d-flex justify-content-between">
            <div class="my-auto text-nowrap ml-2">تاریخ ورود : </div>
            <div class="form-control" id="datePickerArea">
              <input class="border-0 my-auto text-center" formControlName="date" placeholder="تاریخ"
                [dpDayPicker]="{format: 'jYYYY/jMM/jDD'}" theme="dp-material" />
            </div>
            <span class="text-danger mr-1"
              *ngIf="newGolArrange.get('date').invalid && newGolArrange.get('date').touched">*</span>
          </div>
          <div class="col-md"></div>
        </div>
        <div class="p-3 text-left">
          <button type="submit" class="btn btn-primary">ثبت</button>
        </div>
      </form>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md-9 text-center">
        <table class="table table-bordered">
          <tr>
            <th scope="col">&nbsp;</th>
            <th scope="col">اصلاح تعداد برگ</th>
            <th scope="col"><a>شماره فرم</a></th>
            <th scope="col"><a>تعداد برگ</a></th>
            <th scope="col"><a>تاریخ ورود</a></th>
            <th scope="col"><a>نوع چیدمان</a></th>
            <th scope="col"><a>ابعاد</a></th>
            <th scope="col"><a>نوع مارک و تعداد</a></th>
            <th scope="col"><a>توضیحات</a></th>
            <th scope="col">&nbsp;</th>
          </tr>
          <tr *ngFor="let arrange of arranges">
            <td><a (click)="editArrange(arrange.id)">ویرایش</a></td>
            <td>
              <input type="button" value="-" (click)="editSheetCount(false , change.value , arrange.id)" />
              <input type="number" class="text-center" #change />
              <input type="button" value="+" (click)="editSheetCount(true , change.value , arrange.id)" />
            </td>
            <td>{{arrange.formName}}</td>
            <td>{{arrange.count}}</td>
            <td>{{arrange.enterDate}}</td>
            <td>{{arrange.arrangeType}}</td>
            <td>{{arrange.dimension}}</td>
            <td>{{arrange.mark}}</td>
            <td>{{arrange.comment}}</td>
            <td><a (click)="deleteArrange(arrange.id)">حذف</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<notifier-container></notifier-container>
