<div>
  <div class="text-center sans-small my-2 border d-inline-block p-2">
    نام :
    <span>{{gol.name}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
    کد :
    <span>{{gol.code}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
    رنگ :
    <span>{{gol.color}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
    نوع رنگ :
    <span>{{gol.colorType}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
    قالب :
    <span>{{gol.format}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
    مشتری :
    <span>{{gol.customer}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
    سازنده :
    <span>{{gol.company}}</span>
  </div>
</div>
