<div class="card">
  <div class="card-header bg-primary text-white">
    {{gol?.name}}
    <img src="/assets/images/loading.gif" class="loading-md float-left" *ngIf="loading"/>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-5">
        <p>کد : {{gol?.code}}</p>
        <p>رنگ : {{gol?.color}}</p>
        <p>نوع رنگ : {{gol?.colorType}}</p>
        <p>قالب : {{gol?.format}}</p>
      </div>
      <div class="col-md-5 border-right">
        <p>تاریخ ورود به انبار : {{gol?.enterDate}}</p>
        <p>مشتری : {{gol?.customer}}</p>
        <p>شرکت : {{gol?.company}}</p>
        <p>توضیحات : {{gol?.comment}}</p>
      </div>
      <div class="col-md-2">
        <a target="_blank" [href]="gol?.imagePath">
          <img class="img-fluid float-left" [src]="gol?.imagePath" style="width: 115px; height: 115px;" alt="بدون عکس">
        </a>
      </div>
    </div>
    <div class="card bg-primary text-white mt-3 rounded-0 p-2">فرم ها</div>
    <select class="form-control mt-2 w-25 mx-auto" (change)="changeFormAction($event)">
      <option *ngFor="let form of formNumbers" [value]="form?.id">{{form?.name}}</option>
    </select>
    <div class="my-3 text-center" id="forminfo">
      <label>نوع چیدمان : {{forms?.arrangeType}}</label>
      <label>ابعاد : {{forms?.dimension}}</label>
      <label>تعداد برگ : {{forms?.count}}</label>
      <label>نوع مارک : {{forms?.mark}}</label>
      <label>تاریخ ورود : {{forms?.enterDate}}</label>
      <label>توضیحات : {{forms?.comment}}</label>
    </div>
    <div class="text-center">
      <table class="table table-bordered" *ngIf="formItems.length">
        <tr>
          <th>نام آیتم</th>
          <th>تعداد آیتم در برگ</th>
          <th>تعداد لنت آیتم</th>
          <th>مجموع	</th>
          <th>توضیحات</th>
        </tr>
        <tr *ngFor="let item of formItems">
          <td>{{item.name}}</td>
          <td>{{item.itemInSheet}}</td>
          <td>{{item.lentInSheet}}</td>
          <td>{{item.sum}}</td>
          <td>{{item.comment}}</td>
        </tr>
      </table>
    </div>
    <div class="card bg-primary text-white mt-3 rounded-0 p-2">سفارشات</div>
    <div class="row mt-2">
      <div class="col-md-9">
        <table class="table table-bordered" *ngIf="orders.length">
          <tr>
            <th>نوع سفارش</th>
            <th>تعداد سفارش</th>
            <th>تاریخ سفارش</th>
            <th>تاریخ تکمیل سفارش</th>
            <th>باقیمانده</th>
            <th>توضیحات</th>
            <th></th>
          </tr>
          <tr *ngFor="let order of orders">
            <td>{{order?.orderType}}</td>
            <td>{{order?.count}}</td>
            <td>{{order?.orderDate}}</td>
            <td>{{order?.orderCompleteDate}}</td>
            <td>{{order?.remain}}</td>
            <td>{{order?.comment}}</td>
            <td><a (click)="showOrderForms(order.id)">مشاهده فرم ها</a></td>
          </tr>
          <footer>
            <span *ngFor="let page of pages" (click)="paginateOrderTable(page.index , page.size)">{{page.index + 1}}</span>
          </footer>
        </table>
      </div>
      <div class="col-md-3">
        <table class="table table-bordered" *ngIf="ordreForms.length">
          <tr>
            <th>شماره فرم</th>
            <th>تاریخ تحویل</th>
            <th>تعداد برگ</th>
          </tr>
          <tr *ngFor="let orderForm of ordreForms">
            <td>{{orderForm.formName}}</td>
            <td>{{orderForm.receiveDate}}</td>
            <td>{{orderForm.sheetCount}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
