<div class="card">
  <div class="card-header bg-primary text-white">
    برش خورده ها
    <img src="/assets/images/loading.gif" class="loading-md float-left" *ngIf="loading" />
  </div>
  <div class="card-body text-center">
    <app-flower-main-info [flowerid]="flowerId"></app-flower-main-info>
    <div>
      <table class="table table-bordered" *ngIf="data.length">
        <tr>
          <th scope="col">4</th>
          <th scope="col">3</th>
          <th scope="col">2</th>
          <th scope="col">آخرین تغییر</th>
          <th scope="col">مقدار تغییر</th>
          <th scope="col">نام آیتم</th>
          <th scope="col">برش خورده</th>
          <th scope="col">آیتم فله</th>
          <th scope="col">آیتم سرویسی</th>
          <th scope="col">موجودی کل</th>
          <th scope="col">توضیحات</th>
          <th scope="col">&nbsp;</th>
        </tr>
        <tr *ngFor="let d of data">
          <td [title]="d.changeTimeDate4">{{d.record4}}</td>
          <td [title]="d.changeTimeDate3">{{d.record3}}</td>
          <td [title]="d.changeTimeDate2">{{d.record2}}</td>
          <td [title]="d.changeTimeDate1">{{d.record1}}</td>
          <td>
            <input type="button" value="-" (click)="minus(change.value , d.id)" />
            <input type="number" class="text-center" #change />
            <input type="button" value="+" (click)="plus(change.value , d.id)" />
          </td>
          <td>{{d.itemName}}</td>
          <td>{{d.cuttedd}}</td>
          <td>{{d.falleh}}</td>
          <td>{{d.service}}</td>
          <td>{{d.total}}</td>
          <td>
            <input type="text" id="editfield" [value]="d.comment"
                   (input)="btnSave.style.display = 'inline-block'" #editData />
            <a class="text-danger" #btnSave style="display: none;"
               (click)="saveComment(d.id , editData.value);btnSave.style.display = 'none'">ذخیره</a>
          </td>
          <td>
            <a (click)="yes.style.display = 'inline-block';
               no.style.display = 'inline-block';
               delete.style.display = 'none'" #delete>حذف</a>
            <a (click)="yes.style.display = 'none';
               no.style.display = 'none';delete.style.display = 'inline-block';deleteCutted(d.id);" #yes
               style="display: none;" class="btn btn-primary p-1 text-white ml-1">بله</a>
            <a (click)="no.style.display = 'none';
               yes.style.display = 'none';delete.style.display = 'inline-block'" #no
               style="display: none;" class="btn btn-primary p-1 text-white">خیر</a>
          </td>
        </tr>
      </table>
    </div>
    <button class="btn btn-primary" type="button" [routerLink]="['/flowerinfo' , flowerId]">بازگشت</button>
  </div>
</div>
<notifier-container></notifier-container>
